# Assignment
AssignmentInstall TensorFlow on your system, after installing the framework, Solve the below mentioned problem statement.A Prime equity fund has hired you as a data scientist to analyse the data of 50 potential investee companies and create a model that will find the type of companies that he should invest in to maximize the profit.They want to see which types of companies perform better, for eg -a company which spends on marketing or which spends more on R&D.

Columninformation:
- •R&D spend-Research and Development expenditureof respective company.
- •Administration-Administration expenditure of respective company.
- •Marketing Spend-Marketing Spend of respective company.
- •State-Location of company.
- •Profit-Annual profit of respective company

### Task 1

- InstallTensorFlowon your system
- Run a hello world command

In [69]:
import tensorflow as tf
var = tf.constant("hello world")
print(var)

Tensor("Const_2:0", shape=(), dtype=string)

In [70]:
session = tf.Session()
print(str(session.run(var)))

b'hello world'

## Task 2

In [71]:
import pandas as pd
data = pd.read_csv("50_Startups.csv")

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null object
Profit             50 non-null float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

## EDA

In [73]:
data[['R&D Spend','Administration','Marketing Spend','Profit']].head(2)

   R&D Spend  Administration  Marketing Spend     Profit
0   165349.2       136897.80        471784.10  192261.83
1   162597.7       151377.59        443898.53  191792.06

In [74]:
corr = data.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

As we can see in the above correlation plot that, there is the huge correlation between the R&D spend and the profit of the companies ,so by this we can infer that the companies which are spending mode on R$D are generating maximum profites.

## New York

In [55]:
corr=data[data['State']=='New York'].corr() 
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

## California

In [56]:
corr=data[data['State']=='California'].corr() 
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

## Florida

In [57]:
corr=data[data['State']=='Florida'].corr() 
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

## state in which the companies are investing more on R&D

## Model for predicting profits

In [59]:
import numpy as np  
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [83]:
data.dtypes.reset_index()

             index        0
0        R&D Spend  float64
1   Administration  float64
2  Marketing Spend  float64
3            State   object
4           Profit  float64

##### Tutorial for encoding and decoding of text data link.
https://pbpython.com/categorical-encoding.html

### Encoding the categorial variable

In [109]:
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
results = lb_style.fit_transform(data["State"])
pd.DataFrame(results, columns=lb_style.classes_).head(2)

   California  Florida  New York
0           0        0         1
1           1        0         0

In [111]:
numeric_data=pd.concat([pd.DataFrame(results, columns=lb_style.classes_), data.drop(['State'], axis = 1)], axis=1, sort=False)
numeric_data.head(2)

,California,Florida,New York,R&D Spend,Administration,Marketing Spend,Profit
0,0,0,1,165349.2,136897.80,471784.10,192261.83
1,1,0,0,162597.7,151377.59,443898.53,191792.06

### Normalizing the data

seing the range of the columns in the dataframe.

In [113]:
def range(column):
    return column.max()-column.min()
for i in numeric_data.columns:
    print("The range of the column",i,"is :-",range(numeric_data[i]),"\n")
    print("max :-",numeric_data[i].max(),"\nmin :-",numeric_data[i].min())

The range of the column California is :- 1

max :- 1
min :- 0
The range of the column Florida is :- 1

max :- 1
min :- 0
The range of the column New York is :- 1

max :- 1
min :- 0
The range of the column R&D Spend is :- 165349.2

max :- 165349.2
min :- 0.0
The range of the column Administration is :- 131362.41999999998

max :- 182645.56
min :- 51283.14
The range of the column Marketing Spend is :- 471784.1

max :- 471784.1
min :- 0.0
The range of the column Profit is :- 177580.43

max :- 192261.83
min :- 14681.4

As we can see that the ranges of values in the column are different ,so we are performing minMax scaling to all the columns in the dataset.

In [117]:
numeric_data.columns

Index(['California', 'Florida', 'New York', 'R&D Spend', 'Administration',
       'Marketing Spend', 'Profit'],
      dtype='object')

In [119]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
numeric_data[['R&D Spend', 'Administration','Marketing Spend', 'Profit']]=scaler.fit_transform(numeric_data[['R&D Spend', 'Administration','Marketing Spend', 'Profit']])

In [121]:
numeric_data.columns

Index(['California', 'Florida', 'New York', 'R&D Spend', 'Administration',
       'Marketing Spend', 'Profit'],
      dtype='object')

In [123]:
x = numeric_data[['California', 'Florida', 'New York', 'R&D Spend', 'Administration','Marketing Spend']]
y = numeric_data['Profit']

In [124]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

## Linear Regression Model

#### Training the model

In [125]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [126]:
#To retrieve the intercept:
print(regressor.intercept_)
#For retrieving the slope:
print(regressor.coef_)`b

0.16596735725805267
[ 4.87882416e-04 -4.91408761e-03  4.42620519e-03  7.20192994e-01
  2.43258805e-02  9.72631281e-02]

#### Testing the model

In [133]:
y_pred = regressor.predict(X_test)

In [134]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

      Actual  Predicted
28  0.498934   0.497430
11  0.729686   0.663929
10  0.740175   0.663172
41  0.355430   0.322641
2   0.993178   0.922715
27  0.508654   0.571458
38  0.374747   0.299415
31  0.466280   0.473646
22  0.538747   0.559116
4   0.853171   0.862931

## Error

### MSE

In [135]:
from sklearn.metrics import mean_squared_error
from math import sqrt

print("\nThe root mean square error is :- ",sqrt(mean_squared_error(y_test,y_pred)))

The root mean square error is :-  0.05145831752291041

### MAE

In [136]:
from sklearn.metrics import mean_absolute_error
print("\nThe mean absolute error is :- ",mean_absolute_error(y_test,y_pred))

The mean absolute error is :-  0.042314874784572916